* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  min-height: 100vh;
  background-color: #E7E5E5;
}

main > h1 {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  padding-top: 2rem;
}
main > h1::after {
  content: "";
  width: 70px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 5rem;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.cont {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  width: 14rem;
  height: 14rem;
  align-content: space-between;
  justify-content: space-between;
  background-color: #fff;
}
.box {
  min-width: 70px;
  min-height: 70px;
  background-color: #AEE5D8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  border: none;
}
